<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyLuanVan.Properties.Settings.connStr" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=QLGiangVien;Integrated Security=True" />
        <add name="QuanLyLuanVan.Properties.Settings.QuanLyLuanVanConnectionString"
            connectionString="Data Source=LAPTOP-P86CKJF6;Initial Catalog=QuanLyLuanVan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>